@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=PT+Sans:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    font-family: oswald PT sans, serif;
    max-width: 960px;
    justify-items: center;
    background-color:#efefef;
    color: #000;
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none ;
}

/**********************************
  HEADER
  ***********************************/

  .header-link{
    display: flex;
    justify-content: flex-end;
    background-color: purple;
    color:black;
    align-items: center;

}
 .logo{
    margin-right:auto;
}

.nav-link ul li {
    display: inline-block;
    line-height: 19px;
    font-size: 20px;
    margin-right: 86px;
    color:black;
}
.nav-link nav li a{
    color: #000;
}
.nav-link nav li a:hover{
    color: white;
}

nav li button{
width: 100px;
height: 40px;
}

/**********************************
  HOME
  ***********************************/
.career{
    display: flex;
    flex-flow: nowrap;
    margin: 30px;
}
.career h1{
    margin-bottom: 20px;
}
.career p{
    margin-right: 20px;
    text-align:justify ;
    
}
h1{
    text-align: center;
    margin: 20px;
}
.career-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background: #efefef;
    color: #000;
    margin: 20px;
}
.career-list img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
.career-list div{
    background-color: #fff;
    color: #000;
    border-radius: 20px;
}
.career-list div:hover{
    background: #efefef;
}
.career-list h2{
    margin: 20px 0;
    text-align: center;
    color: #000;
}
.career-list P{
    text-align: center;
    margin-bottom: 20px;
    color: #000;
    text-justify: auto;
}
/**********************************
  CONTACT
  ***********************************/
  .contact{
    display: flex;
    justify-content: space-evenly;
}
.contact-us{
    margin-top: 119px;
}
.contact h3{
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1.25px;
    text-align: center;
}

.contact-list{
    text-align: center;
    list-style: none;
    
}
.contact-list a{
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    font-size: 22px;
}

.social-contact{
    margin: 20px auto;
    display: table;
    
}

.social-contact li{
    display: inline-block;
    margin-right: 20px;
    
}

.img-contact{
    display: block;
    margin: 20px auto 15px auto ;
}
.contact-form input{
    width: 350px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 20px;
    line-height: 30px;
}
textarea{
    width: 350px;
    height: 125px;
}
.contact-form fieldset{
    margin: 31px 27px 18px 0;
    padding: 12px 33px 5px 23px;
}
.contact-form h3{
    margin: 12px 33px 21px 36px;
}
.contact-form img{
    display: block;
    margin: 24px auto 0 auto;
}
.contact-form label{
    font-size: 20px;
    line-height: 30px;
}
.contact-send{
    border-radius: 4px;
    margin: 19px 0px 32px 300px;
}

.contact-form .contact-send{
    width: 56px;
    background-color:purple;
}
/**********************************
  MOBILE
  ***********************************/
  .mobile{
    margin-bottom: 30px;
}
.mobile-img img{
    width: 100%;
    margin: 20px 0;
}
.mobile p{
    text-align: justify;
}
.mobile h2{
    margin: 20px 0;
}
/**********************************
  SOFTWARE
  ***********************************/
  .software{
    margin: 20px;
}
.software-img img{
    width: 100%;
    margin: 20px 0;
}
.software p{
    text-align: justify;
}
.software h2{
    margin: 20px 0;
}
.software h3{
    margin: 10px 0;
}
.software ul li{
    list-style-type: square;
}
/**********************************
  DATA SCIENCE
  ***********************************/
  .data-science{
    margin: 20px;
}
.data-img img{
    width: 100%;
    margin: 20px 0;
}
.data-science p{
    text-align: justify;
}
.data-science h2{
    margin: 20px 0;
}

.data-science ul li{
    list-style-type: square;
}
  /**********************************
  CYBER SECURITY
  ***********************************/
  .cyber{
    margin: 20px;
}
.cyber-img img{
    width: 100%;
    margin: 20px 0;
}
.cyber p{
    text-align: justify;
}
.cyber h2{
    margin: 20px 0;
}

.cyber ul li{
    list-style-type: square;
}
/**********************************
  UI/UX session
  ***********************************/
  .ui-ux-img {
    width: 100%;
    margin: 10px;
  }
  .UI-UX p {
    text-align: justify;
    margin: 10px;
  }
  .UI-UX ul {
    margin: 10px;
  }
  .UI-UX ul h3 {
    margin-bottom: 5px;
  }
  .needs-text {
    font-size: 22px;
    letter-spacing: 1px;
  }
  .UI-UX .needs {
    display: flex;
    flex-wrap: wrap;
  }
/**********************************
  FOOTER
  ***********************************/
  footer{
    background-color:purple;
}
.footer-link{
    display: flex;
    justify-content: space-evenly;
    padding-top: 37px;
    flex-wrap: wrap;

}
.footer-link ul {
    list-style: none;
}
.footer-link ul li{
    color: white;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 15px;
}
.footer-link ul a{
    text-decoration: none;
    color: white;
}
.footer-link input{
    width: 253px;
    height: 44px;
    line-height: 19px;
    font-size: 16px;
    color: purple;
}
.footer-link button{
    width: 108px;
    height: 44px;
    font-size:18px;
    line-height: 22px;
    margin-top: 9px;
    color: purple;
}
footer p{
text-align: center;
color: #fff;
}
.social-link{
    margin-top: 13px;
    margin-left: auto;
}
.social h3, .footer-link h3{
    color: white;
}
.social-link li{
    display: inline-block;
    margin-left: 12px;
}

/**********************************
  RESPONSIVENESS
  ***********************************/
  @media screen and ( max-width:650px ) { 


  /**********************************
  HEADER
***********************************/

.header-link{
    flex-flow:wrap;
    justify-content: flex-end;

}
.nav-link ul li{
    margin: 15px;
}
    
    .career{
        flex-flow: wrap;
    }
    .career img{
        margin: 20px auto;
        text-align: center ;

    }

    .career-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px auto;
    }
    .career-list a img{
        display: block;
        text-align: center;
        margin: 20px auto;
    }
    /**********************************
  PAGE: CONTACT
  ***********************************/
  .contact{
      flex-flow: column;
  }
  
  .contact h3{
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 0.25px;
    text-align: center;
}
.contact-list a{
    font-size: 16px;
}
  .img-contact{
    width: 30px;
}

.social-contact img{
    width: 40px;
}
.social-contact{
    margin: 10px 100px;
}
.contact-form input{
    width: 350px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 10px;
    line-height: 15px;
}
.contact-form fieldset{
    margin: 30px 10px 15px 10PX;
    padding: 10px 20px 10px 40px;
}
.contact-form h3{
    margin: 10px 30px 15px 20px;
}
.contact-form img{
    display: block;
    margin: 24px auto 0 auto;
    width: 30px;
}
.contact-form label{
    font-size: 20px;
    line-height: 30px;
}
.contact-send{
    border-radius: 4px;
    margin: 19px 0px 32px 300px;
}

.contact-form .contact-send{
    width: 50px;
}
textarea{
    width: 350px;
    height: 100px;
}
    
     /**********************************
         FOOTER
      ***********************************/
      .footer-link{
        display: block;
        margin-left: 15px;
    }
    .social h3{
        margin-top: 20px;
    }
    .social-link li{
        margin-right: 5px;
    }
    
  }